<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKiJ1LiTrJ8hoSSTV6myRKTTwUu11xhDI</string>
	<key>GCM_SENDER_ID</key>
	<string>883673425825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.ittepic.damU4P1</string>
	<key>PROJECT_ID</key>
	<string>dam-u4-proyecto-cd91b</string>
	<key>STORAGE_BUCKET</key>
	<string>dam-u4-proyecto-cd91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883673425825:ios:077b1c791a02d071324de0</string>
</dict>
</plist>